.fuente {
    font-family: 'Bowlby One SC', cursive;
    font-size: 16px;
}

.cover1, .cover2, .cover3 {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; /* Para opacar el fondo y resaltar las letras*/
    color: white;
}

.cover1 {
    background-image: url("../src/assets/banner1.png");
}

.cover2 {
    background-image: url("../src/assets/banner2.jpg");
}

.cover3 {
    background-image: url("../src/assets/banner3.jpg");
}

.backGestor, card {
    background-size: auto;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; /* Para opacar el fondo y resaltar las letras*/
    color: white;
    background-image: url("../src/assets/backGestion.jpg");
    height: 540px;
}